BOT_TOKEN=
MONGO_URI=

MONGO_DB=Users_school_21
MONGO_USERS_COLLECTION=login
MONGO_STATS_COLLECTION=users
MONGO_GROUPS_COLLECTION=group_states

ADMIN_IDS=123456789
ADMIN_CONTACT=@kaoekb

sender=
mail_password=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_TLS=true
ENABLE_RELAY_TEST=false
RELAY_MAX_LEN=700

PIN_LENGTH=4
PIN_TTL_SECONDS=300
LOG_FILE=bot.log
